.dark:root {
    /* ? Padding */
    --hx-padding-xl: 6px 12px;

    /* ? Text */
    --hx-text-primary: #e8e8e8;
    --hx-button-text-primary: #1e1e1e;

    /* ? Background */
    --hx-background-primary: #010101;
    --hx-button-background-primary: #e8e8e8;
    --hx-background-secondary: #1e1e1e;
    --hx-background-transparent: #424242;

    /* ? Colors */
    --hx-color-red: tomato;

    /* ? Border Radius */
    --hx-border-radius-left-top: 7px;
    --hx-border-radius-right-top: 7px;
    --hx-border-radius-left-bottom: 7px;
    --hx-border-radius-right-bottom: 7px;
    --hx-border-radius: var(--hx-border-radius-left-top) var(--hx-border-radius-right-top) var(--hx-border-radius-left-bottom) var(--hx-border-radius-right-bottom);
}

.light:root {
    /* ? Padding */
    --hx-padding-xl: 6px 12px;

    /* ? Text */
    --hx-text-primary: #e8e8e8;
    --hx-button-text-primary: #1e1e1e;

    /* ? Background */
    --hx-background-primary: #010101;
    --hx-button-background-primary: #e8e8e8;
    --hx-background-secondary: #1e1e1e;
    --hx-background-transparent: #424242;

    /* ? Colors */
    --hx-color-red: tomato;

    /* ? Border Radius */
    --hx-border-radius-left-top: 7px;
    --hx-border-radius-right-top: 7px;
    --hx-border-radius-left-bottom: 7px;
    --hx-border-radius-right-bottom: 7px;
    --hx-border-radius: var(--hx-border-radius-left-top) var(--hx-border-radius-right-top) var(--hx-border-radius-left-bottom) var(--hx-border-radius-right-bottom);
}